database:
  host: postgres-cluster-rw.{{ .Values.namespaces.postgres }}.svc.cluster.local
  port: 5432
  name: ferriskey
  user: ferriskey
  passwordSecret:
    create: false
    name: ferriskey-db-credentials
    key: password

api:
  admin:
    username: admin
    email: admin@yourorg.com
    passwordSecret:
      create: false
      name: ferriskey-admin
      key: password
  server:
    allowedOrigins:
      - https://iam.yourorg.com

postgresql:
  enabled: false
